.menu {
    @include clearfix;

    li {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;

        a {
            color: #8c7b64;

            &:hover {
                color: black;
            }
        }

        &.current-menu-item,
        &.current_page_parent,
        &.current-page-ancestor {
            a {
                color: #3168a3;
            }
        }
    }

    @media only screen and (max-width: 999px) {
        margin: 25px 0 0 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 5px 5px 0 5px;

            .sub-menu {
                display: none;
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        position: absolute;
        right: 0;
        bottom: 20px;
        max-width: 900px;

        li {
            position: relative;
            display: inline-block;
            margin: 0 0 0 25px;
            padding: 15px 0;
            text-align: center;

            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .sub-menu {
                opacity: 0;
                visibility: hidden;
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 45px;
                margin-left: -90px;
                width: 180px;
                padding: 10px 0;
                background: #fffcf4;
                background: linear-gradient(lighten(#fffcf4, 1.5%), #fffcf4);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                border-top: solid 3px #3168a3;

                &:before {
                    content: '';
                    display: block;
                    border-color: transparent transparent #3168a3 transparent;
                    border-style: solid;
                    border-width: 10px;
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    margin-left: -10px;
                }

                li {
                    padding: 0;
                    margin: 12px 0;
                    display: block;
                    text-align: center;

                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            color: #3168a3;
                        }
                    }

                    a {
                        text-transform: none;
                        color: #8c7b64;
                        font-weight: 700;
                        font-size: 12px;

                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}