.church_social_sermon_archive {
    @media only screen and (max-width: 767px) {
        overflow: scroll;
    }

    &__search_form {
        margin: 0 0 35px 0;

        @include clearfix;
    }

    &__search_form_minister_label {
        display: block;
        float: left;
        padding: 0 25px;
        height: 30px;
        line-height: 30px;
        color: #fffcf5;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        background: #c9c2b6;
        border-radius: 15px 0 0 15px;

        @media only screen and (max-width: 767px) {
            padding: 0 10px;
        }
    }

    &__search_form_minister_select {
        display: block;
        float: left;
        height: 30px;
        width: 300px;
        padding: 0 10px 0 15px;
        outline: none;
        color: #97846c;
        background: white;
        border: solid 1px #c9c2b6;
        -webkit-appearance: none;
        border-radius: 0 15px 15px 0;

        @media only screen and (max-width: 767px) {
            width: 150px;
        }
    }

    &__search_form_button {
        @extend .button;

        float: left;
        margin: 0 0 0 5px;
    }

    &__table {
        margin: 25px 0;
    }

    &__table_date_header,
    &__table_preached_time_header,
    &__table_title_header,
    &__table_author_header,
    &__table_passage_header {
        padding: 5px;
        font-family: "MuseoSlab";
        font-weight: 500;
        font-size: 18px;
        color: #7c725d;
    }

    &__table_date,
    &__table_preached_time,
    &__table_title,
    &__table_author,
    &__table_passage {
        padding: 10px 5px;
        font-size: 14px;
        line-height: 1.25;
        border-top: solid 1px lighten(#dad0ba, 5%);
    }

    &__table_date,
    &__table_passage {
        white-space: nowrap;
    }

    &__sermon_download_button {
        @extend .button;
    }
}